.car-offer-header{
	background-color: #efe3c5;
}
.car-offer-header h3{
	color: #a3874c;
	margin: 0;
	padding: 30px;
}
.car-offer-carousel{
	/*height: 320px;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.flex-carousel-item{
	background-color: gray;
	width: 200px;
	height: 270px;
	margin: 1px;
}
.audi{

}
.chevrolet{

}
.skoda{

}
.uaz{

}
.audi2{

}





























@media screen and (min-width: 640px){
	
}

}@media screen and (min-width: 960px){
	
}