.customer-rating-header{
	max-width: 960px;
	min-width: 320px;
	margin: auto;
	display: flex;
	flex-flow: column-reverse;
	align-items: center;
	/*background-color: lightgray;*/
}
.rating-avis-logo{
	position: relative;
 	width: 105px;
 	height: 45px;
 	background-color: #d4002a;
 	background-image: url("../../images/avis-logo.png");
 	background-repeat: no-repeat;
 	background-position: center;
}
.rating-avis-logo::after{
	content: url("../../images/flag-italy.png");
 	position: absolute;
 	top: 30px;
 	left: 79px;
 	z-index: 100;
}
.customer-rating-content{
	display: flex;
	max-width: 960px;
	min-width: 320px;
	flex-wrap: wrap;
	margin: auto;
	padding-top: 15px;
}
.rating-list-container{
	flex-basis: 0;
	flex-grow: 1;
}
.positive-negtive-container{
	background-color: lightblue;
	flex-basis: 0;
	flex-grow: 2;
}
.rating-list-container svg{
	width: 95px;
	fill: blue;
	display: block;
	margin: auto;
}
.rating-list-container svg text{
	font-size: 60px;
	text-anchor: middle;
}
.rating-list-container p{
	margin: 0;
	text-align: center;
}
.rating-list-container a{
	display: block;
	text-align: center;
}
.rating-uo-container{
	background-color: #f3f3f3;
	width: 300px;
	padding: 15px;
}
.rating-unordered-list{
	list-style-type: none;
	font-size: 13px;
	font-family: open sans;
	padding: 0;
}
.rating-unordered-list li{
	display: block;
}
.rating-unordered-list li span{
	width: 275px;
	display: inline-block;
}
.rating-unordered-list-item::after{
	content: "";
	border-bottom: 1px solid #dddddd;
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
}
.rating-unordered-list-item:last-child::after{
	display: none;
}





@media screen and (min-width: 640px){
	.customer-rating-header{
		flex-flow: row;
		justify-content: space-between;
	}

}

@media screen and (min-width: 960px){
	


}