.hero{
	background-image: url("../../images/main-background.jpg");
	height: 550px;
	background-size: cover;
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-right: 20px;
}
.hero-content-conteiner{
	margin: auto;
}
.hero-title-container{
	max-width: 300px;
	margin: auto;
	padding-top: 50px;
}
.hero-title-container h2, h3{
	color: white;
	text-align: center;
}
.hero-title-container h2{
	margin-top: 0;
}


     											/*Izvēlnes konteiners - flexbox*/




 .hero-menu-backgound{
 	background-color: #ffcd4a;
 	margin: auto;
 	padding: 17px;
 	min-width: 320px;
 	max-width: 640px;

 }
 .hero-menu-flexbox{
 	margin: auto;
 	background-color: white;
 	border-radius: 4px;
 	padding: 1px;
 	display: flex;
 	flex-wrap: wrap;
 	min-width: 320px;
 	max-width: 640px;
 	align-items: center;
 }
 .flexbox-item{
 	margin: 1px;
 }
 .input-field{
 	height: 45px;
 	flex-grow: 1;
 	flex-basis: 100%;
 	border: none;
 	padding-left: 5px;
 }

 .avis-logo-item{
 	position: relative;
 	width: 105px;
 	height: 45px;
 	background-color: #d4002a;
 	background-image: url("../../images/avis-logo.png");
 	background-repeat: no-repeat;
 	background-position: center;
 }
 .avis-logo-item::after{
 	content: url("../../images/flag-italy.png");
 	position: absolute;
 	top: 30px;
 	left: 79px;
 	z-index: 100;
 }

 .from-date-item{
 	height: 46px;
 	background-color: #dddddd;
 	flex-grow: 1;
 	position: relative;
 }
 .from-date-item::after{
 	content: "";
 	position: absolute;
 	border-top: 23px solid transparent;
  	border-bottom: 23px solid transparent;
 	border-left: 12px solid #dddddd;
 	right: -12px;
 	top: 0;
 	z-index: 100;
 }
 .from-date-item::before{
 	content: "";
 	position: absolute;
 	border-top: 24px solid transparent;
  	border-bottom: 24px solid transparent;
 	border-left: 12px solid white;
 	right: -14px;
 	top: -1px;
 	z-index: 100;
 }

 .to-date-item{
 	height: 45px;
 	background-color: #dddddd;
 	flex-grow: 1;
 	position: relative;
 }
 .flexbox-item span{
 	display: block;
 	text-align: center;
 	margin-top: 12px;
 }

 .flexbox-buton{
 	height: 45px;
 	background-color: lightblue;
 	flex-basis: 100%;
 	border: none;
 	border-radius: 3px;
 	background-color: #0073b5;
 	color: white;
 	font-weight: bolder;
 }



 					/*Bonusu saraksts ar ķekšiem*/

.bonus-list-container{
	display: none;
}




 @media screen and (min-width: 640px){


.hero-title-container{
	max-width: 600px;
}
.hero-menu-backgound{
	min-width: 641px;
	max-width: 900px;
}
.hero-menu-flexbox{
	min-width: 641px;
	max-width: 900px;
}
.flexbox-buton{
	flex-grow: 1;
	flex-basis:auto;
}
.to-date-item::after{
 	content: "";
 	position: absolute;
 	border-top: 23px solid transparent;
  	border-bottom: 23px solid transparent;
 	border-left: 12px solid #dddddd;
 	right: -12px;
 	top: 0;
 }
 .to-date-item::before{
 	content: "";
 	position: absolute;
 	border-top: 24px solid transparent;
  	border-bottom: 24px solid transparent;
 	border-left: 12px solid white;
 	right: -14px;
 	top: -1px;
 }




 							/*Bonusu saraksts ar ķekšiem*/
.bonus-list-container{
	display: block;
	margin: auto;
}
.flexible-bonus-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style:none;

}
.flexible-bonus-list li{
	margin: 5px;
	flex-basis: 30%;
	font-size: 16px;
	color: white;
}
.flexible-bonus-list li::before{
	content: "";
   	background-image: url("../../images/check-mark.svg");
   	height: 15px;
   	width: 15px;
   	display: inline-block;
   	background-size: 100%;
   	background-repeat: no-repeat;
   	margin-right: 3px;
}
.bonus-list-extra-items{
	display: none;
}



}













@media screen and (min-width: 960px){



.hero-menu-backgound{
	min-width: 899px;
	max-width: 1000px;
}
.hero-menu-flexbox{
	min-width: 899px;
	max-width: 1000px;
}
.input-field{
	flex-basis: auto;
	flex-grow: 3;
}
.avis-logo-item{
	order: -1;
}
 							/*Bonusu saraksts ar ķekšiem*/

.bonus-list-container{
	min-width: 899px;
	max-width: 1000px;
}
.flexible-bonus-list li{
	flex-basis: 20%;
}
.bonus-list-extra-items{
	display: list-item;
}

}