.hero{
	background-image: url("../../images/main-background.jpg");
	height: 550px;
	background-size: cover;
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-right: 20px;
}
.hero-content-conteiner{
	margin: auto;
}
.hero-title-container{
	max-width: 300px;
	margin: auto;
	padding-top: 50px;
}
.hero-title-container h2, h3{
	color: white;
	text-align: center;
}
.hero-title-container h2{
	margin-top: 0;
}


     											/*Izvēlnes konteiners - flexbox*/




 .hero-menu-backgound{
 	background-color: #ffcd4a;
 	margin: auto;
 	padding: 17px;
 	min-width: 320px;
 	max-width: 640px;

 }
 .hero-menu-flexbox{
 	margin: auto;
 	background-color: white;
 	border-radius: 4px;
 	padding: 1px;
 	display: flex;
 	flex-wrap: wrap;
 	min-width: 320px;
 	max-width: 640px;
 }
 .flexbox-item{
 	margin: 1px;
 }

 .input-field{
 	height: 45px;
 	flex-grow: 1;
 	flex-basis: 100%;
 }

 .avis-logo-item{
 	width: 105px;
 	height: 45px;
 	background-color: red;
 }

 .from-date-item{
 	height: 45px;
 	background-color: gray;
 	flex-grow: 1;

 }

 .to-date-item{
 	height: 45px;
 	background-color: gray;
 	flex-grow: 1;
 }

 .flexbox-buton{
 	height: 45px;
 	background-color: lightblue;
 	flex-basis: 100%;
 }



 					/*Bonusu saraksts ar ķekšiem*/


.flexible-bonus-list{
	display: none;
}



 @media screen and (min-width: 640px){


.hero-title-container{
	max-width: 600px;
}
.hero-menu-backgound{
	min-width: 641px;
	max-width: 900px;
}
.hero-menu-flexbox{
	min-width: 641px;
	max-width: 900px;
}
.flexbox-buton{
	flex-grow: 1;
	flex-basis:auto;
}




 							/*Bonusu saraksts ar ķekšiem*/


.flexible-bonus-list{
	display: flex;
}




}













@media screen and (min-width: 960px){



.hero-menu-backgound{
	min-width: 899px;
	max-width: 1000px;
}
.hero-menu-flexbox{
	min-width: 899px;
	max-width: 1000px;
}
.input-field{
	flex-basis: auto;
	flex-grow: 3;
}
.avis-logo-item{
	order: -1;
}
 							/*Bonusu saraksts ar ķekšiem*/


.flexible-bonus-list{
	display: flex;
}
}